%header
  %h1 Town Hall Level: 1

%section.buildings
  %header
    %h2 Buildings
  %ol
    %li Gold Mine (Level 1)
    %li Gold Storage (Level 1)
    %li Barracks (Level 1)
    %li Army Camp (Level 1)

%section.available_buildings
  %header
    %h2 Available Buildings
  %ol
    %li Gold Mine (1/1)
    %li Elixir Collector (1/1)
    %li Gold Storage (1/1)
    %li Elixir Storage (1/1)
    %li Barracks (1/1)
    %li Army Camp (1/1)
  %ol
    %li Gold Mine (0/1)
    %li Elixir Collector (0/1)
    %li Gold Storage (0/1)
    %li Elixir Storage (0/1)
    %li Barracks (0/1)
    %li Army Camp (0/1)

