%section
  %h2 Active Upgrades
  - if @upgrading.empty?
    %p All builders are sleeping
  - else
    - for upgrade in @upgrading
      %tr
        %td=upgrade.name
        %td=upgrade.level
        %td=upgrade.th_max_level
        %td=upgrade.ultimate_level
  %h2 Upgradable Buildings
  - if @upgradable.empty?
    %p There are no buildings to upgrade, maybe it's time for a Town Hall upgrade!
  - else
      %table
      %th
        %td Building
        %td Current Level
        %td TH Max Level
        %td Ultimate Level
    - for upgrade in @upgradable
      %tr
        %td=upgrade.name
        %td=upgrade.level
        %td=upgrade.th_max_level
        %td=upgrade.ultimate_level
